html,
body {
  height: 100%;
}

body {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: "Roboto", sans-serif;
  background-color: #121212;
}

.root {
  display: grid;
  grid-template-rows: min-content;
  height: 100%;
}

main {
  max-width: 640px;
  width: 100%;
  padding: 30px 0;

  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-self: center;
}

h1 {
  font-weight: 100;
  font-size: 40px;
  color: #1adaca;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

form {
  width: 100%;
  margin-top: 20px;
  align-self: center;
  display: flex;
  justify-content: center;
  border: 1px solid #8a8a8a;
  height: 40px;
}

input {
  width: 100%;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #f0f0f0;
  padding: 0 10px;
  border: none;
}

input:focus {
  outline: none;
  background-color: rgba(138, 138, 138, 0.25);
}

button {
  min-width: 80px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-left: 1px solid #8a8a8a;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #f0f0f0;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
  background-color: rgba(138, 138, 138, 0.25);
}